<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <body>
  <header>
  </header>
    <h1> これは固定の表示です </h1>
    <%= yield %>

  <footer>
    <h1> これは追記ぶんです </h1>
  </footer>
  </body>
</html>
